<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Index</title>
</head>
<body>
<form method="POST" class="post-form" action="{% url 'update' user.id %}">
        {% csrf_token%}
    <div class="container">
<br>
<div class="form-froup row">
    <label class="col-sm-1 col-form-label"></label>
    <div class="col-sm-4">
        <h3>Update Details</h3>
    </div>
</div>
<div class="form-froup row">
    <label class="col-sm-2 col-form-label">Id:</label>
    <div class="col-sm-4">
        <input type="text" name="id" id="id" required maxlength="20" value={{user.id}}>
    </div>
<div class="form-froup row">
        <label class="col-sm-2 col-form-label">Email:</label>
        <div class="col-sm-4">
            <input type="email" name="email" id="email" required maxlength="20" value={{user.email}}>
        </div>
</div>
<div class="form-froup row">
    <label class="col-sm-2 col-form-label">First Name:</label>
    <div class="col-sm-4">
        <input type="text" name="firstname" id="firstname" required maxlength="20" value={{user.firstname}}>
    </div>
</div>
<div class="form-froup row">
    <label class="col-sm-2 col-form-label">Last name:</label>
    <div class="col-sm-4">
        <input type="text" name="lastname" id="lastname" required maxlength="20" value={{user.lastname}}>
    </div>
</div>
<div class="form-froup row">
    <label class="col-sm-2 col-form-label">Phone:</label>
    <div class="col-sm-4">
        <input type="number" name="phone" First Name="phone" required maxlength="10" value={{user.phone}}>
    </div>
</div>
<div class="form-froup row">
    <label class="col-sm-1 col-form-label"></label>
    <div class="col-sm-4">
        <button type="submit" class="btn btn-success" >Update</button>
    </div>
</div>
</div>
</form>
</body>





